{% extends 'main/player_base.html' %}
{% load static %}

{% block head_assets %}
<script type="text/javascript">
  var hacking_current_game = {
    name: '{{ mini_game.name }}',
    help_text: '{{ mini_game.help_text }}',
  }
</script>

<link rel="stylesheet" href="{% static 'main/css/hacking.css' %}" charset="utf-8">
<script src="{% static 'main/vendors/jquery-1.11.3.min.js' %}" charset="utf-8"></script>


{% if mini_game.name == 'Hack' %}
<link rel="stylesheet" href="{% static 'main/css/mgHack.css' %}" charset="utf-8">
<script src="{% static 'main/js/mgHack.js' %}" charset="utf-8"></script>
{% elif mini_game.name == 'Fire' %}
<link rel="stylesheet" href="{% static 'main/css/fire.css' %}" charset="utf-8">
<script src="{% static 'main/js/fire.js' %}" charset="utf-8"></script>
{% elif mini_game.name == 'Alien' %}
<link rel="stylesheet" href="{% static 'main/css/alien.css' %}" charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/alien_moves.css' %}" charset="utf-8">
<script src="{% static 'main/js/alien.js' %}" charset="utf-8"></script>
{% endif %}

{% endblock %}
{% block content %}
<div id='mini-game-block'></div>

<form id="end-form" action="/" method="post" style="display: none">
  {% csrf_token %}
  <input id="result-input" type="text" name="result" value=""/>
  <input type="submit"/>
</form>

{% endblock %}

{% block foot_assets %}
<script src="{% static 'main/js/hacking.js' %}" charset="utf-8"></script>
{% endblock %}
